html, body { 
	 background-color: #FFFFFF; 
	 margin:0; 
     padding:0; 
     text-align: left; 
     height:100%;
	 font: normal 15px Calibri, Trebuchet MS, Trebuchet, Tahoma, Arial, Helvetica, sans-serif;
}

img {
     border-color: #648997;
}

#header {
	position:relative; 
    height:75px;  
    width:100%;
}

#header h1{ 
	margin-top:15px; 
	float: left; 
	text-indent: -9999px;
}

#header h1 a{ 
	display: block; 
	height: 80px; 
	width: 240px;
}

#header h1 a:hover{
	text-decoration: none; 
}

#navigation {
	width: 100%;
	height: 25px;
	background: #0D4269;
	margin: 0 auto;
	text-align: left;
}

#navigation a {
	text-decoration: none;
	margin: 0 1em 0 1em;
}

#navigation ul {
	margin: 0;
	padding: 3px 0;
	list-style-type: none;
}

#navigation ul li { 
	display: inline; 
}

#navigation ul li a { 
	/* color: #b6d7dd; */
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding: .2em .75em;
	text-decoration: none; 
}

#navigation ul li a:hover {
	color: #64BDC6;
}

#main_content {
	width: 100%; 
 	height: 80%;
}

#main_content p, #main_content li {
	line-height:150%; 
	letter-spacing: normal;
}

#main_content h2 {
    color: #0b333c; 
	font: normal 22px Georgia, "Times New Roman", Times, serif; 
	margin: 0px;
	/* padding-bottom: 10px;*/
	text-align: left;
}
		   
#main_content h3 {
	color: #0b333c; 
	font: normal 16px Georgia, "Times New Roman", Times, serif;
}

#main_content a {	
	color: #2f92a4;	text-decoration:none;
}

#main_content a:hover { 
	text-decoration:underline;
}

#footer {
	height:60px; 
 	background-color:#cdd9db; 
	color:#808383;
 	font-size: 14px; 
 	margin:0px; 
 	padding:0px;
 	text-align:center;
 	clear:both;
}

#footer p {
	padding-top: 10px;
}

#footer a {
	color: #336699;
}

hr {
	color: #648997;
	background-color: #648997;
}

.floatleft {
	float: left;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

.floatright {
	float: right;
	padding-top: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
}


.small_header {
	margin-left: 10px;
	text-align: left;
	display: block;
	font-weight: bold;
	font-family: sans-serif, verdana, helvetica;
}

.small_header a {
	margin-left: 10px;
	text-align: left;
	display: block;
	font-weight: bold;
	font-family: sans-serif, verdana, helvetica;
	text-decoration: none;      
}

#flashContent {
	display: none;
}
