<header>
    <h1>SciKnowMine Web Application</h1>
    <p>The SciKnowMine system is a practical, open-source, <i>text-mining-enabled</i> digital library system for knowledge workers in biomedicine (including students, scientists, biocurators, doctors, <i>etc.)</i>. </p>

    <!-- <p class="view"><a href="https://github.com/BMKEG/sciKnowMine">View the Project on GitHub <small>BMKEG/sciKnowMine</small></a></p>-->
	<ul>
    	<li><a href="https://github.com/BMKEG/sciKnowMine/zipball/master">Download <strong>ZIP File</strong></a></li>
        <li><a href="https://github.com/BMKEG/sciKnowMine/tarball/master">Download <strong>TAR Ball</strong></a></li>
    	<li><a href="https://github.com/BMKEG/sciKnowMine">View On <strong>GitHub</strong></a></li>
	</ul>
</header>
