<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    	<title>{{ page.title }}</title>

    	<script src="javascripts/toc.js"></script>
    	<script src="javascripts/jquery-2.1.0.min.js"></script>

	    <link rel="stylesheet" href="stylesheets/styles.css">
    	<link rel="stylesheet" href="stylesheets/pygment_trac.css">
    	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    	<!--[if lt IE 9]>
    		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    	<![endif]-->
    	
	</head>
	<body>
		<div class="wrapper">
      		<header>
	    		<h1>{{ page.title }}</h1>
    			<p>{{ page.description }}</p>

			    <!-- <p class="view"><a href="https://github.com/BMKEG/sciKnowMine">View the Project on GitHub <small>BMKEG/sciKnowMine</small></a></p>-->
				<ul>
        			<li><a href="{{ page.prevPage }}">Navigate to<strong>previous</strong></a></li>
        			<li><a href="index.html">Navigate to <strong>top</strong></a></li>
        			<li><a href="{{ page.nextPage }}">Navigate to <strong>next</strong></a></li>
				</ul>
				<ol>
			    	<li><a href="01installation.html">Installation Manual</a></li>
        			<li><a href="02organization.html">System Organization</a></li>
        			<li><a href="03setUp.html">Command Line - Set up</a></li>
        			<li><a href="04workingWithData.html">Command Line - Working with Data</a></li>
        			<li><a href="05reportingFunctions.html">Command Line - Reporting Functions</a></li>
        			<li><a href="06deletingData.html">Command Line - Deleting Data</a></li>
        			<li><a href="07machineLearning.html">Command Line - Machine Learning</a></li>
			        <li><a href="08runningExperiments.html">Command Line Tools - Running Experiments</a></li>
        			<li><a href="09webApp.html">Web Application - Running the System</a></li>
        			<li><a href="10extractingText.html">Web Application - Extracting text using LAPDF-Text</a></li>
        			<li><a href="11triage.html">Web Application - Performing the triage task</a></li>
        			<li><a href="12diglib.html">Web Application - The Base Digital Library</a></li>
				</ol>
				    
			</header>
      
      		<section>
      		<div class="toc"></div>

          	{{ content }}

	  		</section>

			<footer>
			</footer>

    	</div>
    	<script src="javascripts/scale.fix.js"></script>
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        	try {
              	var pageTracker = _gat._getTracker("UA-50171612-1");
            	pageTracker._trackPageview();
            } catch(err) {}
		</script>
  </body>
</html>